<div class="DivBarra">
  <img class="ImagenBarra" src="https://2024.es.pycon.org/static/images/sponsors_logo/salvora/logo-inditex-tech.png?h=38f450e7">
</div>

<div class="DebajoBarra">
  
  <p class="LetraTitulo">Bienvenido a la página de Inditex Tech</p>
  <hr class="PrimeraLinea">
  <p class="TextoDesc">IndiTextch es una herramienta que permite identificar una prenda de ropa mediante unicamente una imagen. Inditex Tech es una herramienta que permite identificar una prenda de ropa mediante unicamente una imagen.IndiTextch es una herramienta que permite identificar una prenda de ropa mediante unicamente una imagen.IndiTextch es una herramienta que permite identificar una prenda de ropa mediante unicamente una imagen.</p>

  <div>
    <div class="cinta">
      <img class="fotoriel" src="https://i.imgur.com/3pjmp2p.jpeg">
      <img class="fotoriel" src="https://i.imgur.com/3pjmp2p.jpeg">
    </div>
  </div>

  <hr class="SegundaLinea">
  <br>
  <p>Arrastra la imagen</p>

  <section class="droparea">
    <i class="far fa-images"></i>
    <p>Drop your .png or .jpg files here!</p>
    <p><small>Up to 20 images, No max file size.</small></p>
  </section>

</div>


