
<div class="DivBarra">
    <img class="ImagenBarra" routerLink="/InditextTech" src="https://2024.es.pycon.org/static/images/sponsors_logo/salvora/logo-inditex-tech.png?h=38f450e7">
  </div>

  <div class="visible">
    <div class="cargandotexto">Cargando<span class="puntos"></span></div>
  </div>
  
  <div>
    <div class="DebajoBarra invisible">
      <p>Coincidencias encontradas:</p><br>


      <div class="contenedoreS">
        @let productos = productos$ | async;
        @for (producto of productos; track producto.id){

          <div class="contenedor">
            <p class="Titulo">{{ producto.name }}</p>
            <p class="Subtitulo">({{ producto.brand| titlecase }})</p>
            @if (producto.price != undefined ){
              <p>{{ producto.price.value.current}}€</p>
            }
            <a [href]="producto.link" target="_blank">
              <button>Página de compra</button>
            </a>
            
          </div>
        }
      </div>
  </div>


    <ng-template #loading>
      <p>Cargando imagen...</p>
    </ng-template>
    


